.as-choice {
  cursor: pointer; }
  .as-choice.active {
    cursor: text; }
  .as-choice:last-of-type {
    margin-right: 0.5rem; }

.as-project-tile {
  height: 280px; }

.as-project-tile {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 3px 10px 4px #ccc; }
  .as-project-tile .as-project-tile__details {
    width: 100%;
    height: 100%;
    padding: 1.8rem 1.5rem;
    list-style: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.5); }
    .as-project-tile .as-project-tile__details li:first-child {
      display: inline-block;
      border-bottom: 2px solid white;
      margin-bottom: 1.2rem; }
