@import "../../src/vars";
.as-fullWidthHeight {
  width: 100%;
  height: 100%;
}
.as-layout--100w100h {
  width: 100%;
  height: 100%;
}
.as-flex {
  display: flex;
}
.as-flex--center {
  align-items: center;
}